{% if site.fixed_navigation %}
<div class="sticky" data-options="">
{% endif %}
  <nav class="top-bar" data-topbar>

    <section class="top-bar-section">

      <ul class="main-navigation left">

          <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/">首页</a></li>

          <li{% if page.url == '/blog/categories/zi-xun/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/categories/zi-xun">资讯</a></li>
          <li{% if page.url == '/blog/categories/kai-fa/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/categories/kai-fa">开发</a></li>
          <li{% if page.url == '/blog/categories/ji-qiao/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/categories/ji-qiao">技巧</a></li>
          <li{% if page.url == '/blog/categories/wan-yi/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/categories/wan-yi">玩意</a></li>
          <li{% if page.url == '/money/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/money">财务自由</a></li>
          <li{% if page.url == '/food/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/food">什么好吃</a></li>

          <li class="has-dropdown{% if page.url == '/video/index.html' or page.url == '/video/imdb-top-250/index.html' or page.url == '/video/douban-top-250/index.html' or page.url == '/video/mtime-top-250/index.html' %} active{% endif %}">
            <a href="{{ root_url }}/video">今晚看啥</a>

            <ul class="dropdown">
              <li><a href="{{ root_url }}/video/imdb-top-250">IMDB Top 250</a></li>
              <li><a href="{{ root_url }}/video/douban-top-250">豆瓣 Top 250</a></li>
              <li><a href="{{ root_url }}/video/mtime-top-250">时光网 Top 250</a></li>
            </ul>

          </li>
          
          <li{% if page.url == '/blog/categories/du-shu/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/categories/du-shu">读书抽丝</a></li>
          <li{% if page.url == '/blog/archives/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/archives">所有文章</a></li>
          <li{% if page.url == '/about/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/about">关于</a></li>
          <li{% if page.url == '/app/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/app">App</a></li>
          <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="RSS订阅">RSS</a></li>
      </ul>

    </section>
  </nav>
{% if site.fixed_navigation %}
</div>
{% endif %}